@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gridLine {
  0%, 100% {
    transform: scaleY(1);
    opacity: 0.2;
  }
  50% {
    transform: scaleY(0.5);
    opacity: 0.1;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes gradient {
  0%, 100% {
    background-size: 200% 200%;
    background-position: left center;
  }
  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}